@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f4f6;
}

.sk-loader-main-div {
  /* background-color: rgb(200,200,200); */
  animation-name: sk-loader-animation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes sk-loader-animation {
  0% {background-color: rgba(230,230,230,1)}
  100% {background-color: rgba(230,230,230,0.4)} 
}

.dashboard-client-feedback {
  grid-column: 2/4;
  height: 100%;
}
.dashboard-grid {
  display: grid;
}
@media only screen and (max-width: 900px) {
  .dashboard-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  .dashboard-client-feedback {
    grid-column: auto;
  }
}
/* width */
::-webkit-scrollbar {
  width: 0px
}

/*CHange THIS ->*/
body #root {
  height: 100vh;
  width: 100vw;
  overflow: unset;
}
/* Track */


